.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  margin-right: 15px;
}
